/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.home-container {
    backdrop-filter: blur(2px);
    width: 100%;
    display: flex;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #6D6A75;
  }
  .home-containercalculadora {
    background-color: #37323E;
    width: 400px;
    height: 600px;
    display: block;
    box-shadow: 10px 20px 40px 10px rgba(0, 0, 0, 0.5);
    border-color: orange;
    border-style: solid;
    border-width: 4px;
    border-radius: 10px;
  }
  .home-container1 {
    margin-top: 30px;
    margin-left: 25px;
    width: 350px;
    height: 175px;
    display: block;
    border-color: orange;
    border-style: solid;
    border-width: 2px;
    background-color: #37323E;
  }
  .home-textinput {
    border: none;
    text-align: right;
    font-size: 25px;
    margin-left: 2px;
    width: 330px;
    margin-top: -10px;
    bottom: 1px;
    height: 60px;
    background-color: #37323E;
  }
  .home-textinput:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
  }
  .home-text {
    margin-top: 25px;
    margin-left: 250px;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
  }
  .home-container2 {
    margin-top: 50px;
    margin-left: 25px;
    width: 350px;
    height: 150px;
    margin-bottom: 150px;
    border-width: 1px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .input {
    align-items: center;
    font-size: 18px;
    border: orange solid 2px;
    width: 92px;
    height: 43px;
  }
  