.home-container {
    width: 100%;
    display: flex;
    z-index: 100;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    border-color: var(--dl-color-gray-black);
    border-width: 1px;
    flex-direction: column;
    justify-content: center;
    background-color: #37323E;
  }
  .home-containercalculadora {
    width: 548px;
    height: 773px;
    display: flex;
    align-items: flex-start;
    border-color: orange;
    border-style: solid;
    border-width: 4px;
    border-radius: var(--dl-radius-radius-radius8);
    flex-direction: column;
    justify-content: flex-end;
  }
  .home-container1 {
    top: 50px;
    flex: 0 0 auto;
    left: 0px;
    right: 0px;
    width: 456px;
    height: 175px;
    margin: auto;
    display: flex;
    align-items: center;
    border-color: orange;
    border-style: solid;
    border-width: 2px;
    justify-content: center;
    background-color: #37323E;
  }
  .home-textinput {
    left: 0px;
    width: 450px;
    bottom: 1px;
    height: 87px;
    background-color: #37323E;
  }
  .home-text {
    top: 14px;
    color: var(--dl-color-gray-white);
    right: 11px;
    width: auto;
    font-size: 50px;
    font-style: normal;
    font-weight: 500;
  }
  .home-container2 {
    top: 253px;
    left: 0px;
    right: 0px;
    width: 454px;
    height: 301px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    border-color: orange;
    border-width: 1px;
    flex-direction: row;
    justify-content: center;
  }
  .home-button {
    width: 100px;
    height: 50px;
    display: flex;
  }
  .home-button1 {
    width: 100px;
    height: 50px;
  }
  .home-button2 {
    width: 100px;
    height: 50px;
  }
  .home-button3 {
    width: 100px;
    height: 50px;
  }
  .home-button4 {
    width: 100px;
    height: 50px;
  }
  .home-button5 {
    left: 44px;
    width: 150px;
    bottom: 109px;
  }
  .home-button6 {
    right: 44px;
    width: 150px;
    bottom: 109px;
  }
  